{% extends 'base.html' %}
{% load static %}
{% block link %}

    <style>
        .scrole_bg{
            background-color: white;
        }
    </style>
{% if not flag %}
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="{% static 'css/successpage.css' %}">
    <script src="{% static 'js/html2canvas.min.js' %}"></script>
{% endif %}

{% endblock %}

{% block content %} 
<!-- Alerts -->
    {% include 'partials/_alerts.html' %} 

    {% if flag %}
        <div class="container-fluid" style="color: black;">
            <div class="row">
                <div class="col" id="admission" style="padding: 3%;">
                    <h4> Welcome to KAVWV Certification challenge. <i style="color: red;">(MCQ 20 marks)</i></h4>
                    <form action="{% url 'chalval' %}" enctype="multipart/form-data" method="POST" class="regform">
                        {% csrf_token %}
                        
                        {% for solution,question,n in  data %}
                            <label> {{ n }}. {{ question }} </label>
                            <div class="form-group" style="margin-left: 2%;" id = "{{ n }}">
                                <input class="form-check-input" type="radio" name="{{ n }}" id="{{ n }}" value="a" required >
                                <label class="form-check-label" for="attendance">{{ solution.a }}</label><br>
                                <input class="form-check-input" type="radio" name="{{ n }}" id="{{ n }}" value="b" >
                                <label class="form-check-label" for="attendance">{{ solution.b }}</label><br>
                                <input class="form-check-input" type="radio" name="{{ n }}" id="{{ n }}" value="c" >
                                <label class="form-check-label" for="attendance">{{ solution.c }}</label><br>
                                
                            </div>   
                        {% endfor %}
                        <div class="form-group" style="margin-left: 2%; display: none;" id = "cid" >
                            <input class="form-check-input" type="radio" name="cid" id="cid" value="{{ cid }}" required  checked>
                            <label class="form-check-label" for="cid">{{ cid }}</label><br>
                            
                        </div> 

                        <center><button type="submit" class="btn btn-primary">Submit</button></center>
                    </form>
                </div>
            </div>
        </div>
    
    {% else %}
        <center>
        <div class="card" id="scoresheet" style="max-width: 98%;">
            
            <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
                {% if chscore %}
                    <i style="font-size: 50px;">{{ chscore }}%</i>
                {% else %}
                    <i class="checkmark">✓</i>
                {% endif %}
            </div>
            <h1>Success </h1> 
            <p style="text-align: justify;">
                {% if chscore  %}
                Congratulation on taking your Exam, we are proud of you that you have made till the end. <br> <b style="color: #9ABC66;">Score: {{chscore}}% </b>, click <a href="#" onclick="showcerti('scoresheet','certificate')">here</a> to view your certificate.<!--you will receive your certification shortly !-->
                {% else %}
                    While we process your result please proceed with the Handson. Follow the github link for your challenge:
                    <a href="https://github.com/livinghumanz/KAVWV_internship_challenge">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                        </svg> https://github.com/livinghumanz/KAVWV_internship_challenge</a>  Create a new repository named <b>(KAVWV_internship_challenge)</b> and upload your work, Mail us at <a href="info.kavwv@gmail.com">info.kavwv@gmail.com</a> with a video link of explation and demo run of your code along with your github repository link.
                    you can find more information about the challenge in <a href="https://github.com/livinghumanz/KAVWV_internship_challenge#readme">Readme</a> section.
                {% endif %}
            </p>
        </div>
        </center>
        <!---------------- Certificate Details ----------------->
        <div  id="certificate" style="display: none;">
            <center><p style="background-color: yellow;color: black;padding: 1%; width: 90%;">
                For better experence view in Desktop/ Desktop-view in mobile. click here to download your certificate 
                <input type="button" value="Download" onclick="downloadcerti()"> 
            </p></center>
            
            <div id="bodydiv">
                <div class="container">
                    <div class="logo">
                        KAVWV
                    </div>
    
                    <div class="marquee">
                        Certificate of Completion
                    </div>
    
                    <div class="assignment">
                        This certificate is presented to
                    </div>
    
                    <div>
                        Mr/Ms. <span class="person"> {{ sname }} </span> a Student of <span class="person"> {{ scollege }} </span>
                    </div>
    
                    <div class="reason">
                        For successfully completing the Inplant Training with a score of {{ chscore }}% in <span class="person"> {{ course }} </span> conducted online. 
                    </div>
                    <div class="assdetail" style="padding-top: 2%; margin-left: 2%;">
                        Duration : <i>{{ cstart }} to {{ cend }}</i>
                    </div>
    
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="40" height="70" viewBox="0 0 256 256" xml:space="preserve">
                        <desc>Created with Fabric.js 1.7.22</desc>
                        <defs>
                        </defs>
                        <g transform="translate(128 128) scale(1 1)">
                            <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)" >
                            <path d="M 44.759 63.847 L 56.954 90 l 9.909 -9.079 l 13.325 -1.755 L 68.323 53.721 c -9.609 -0.082 -17.439 3.046 -23.082 10.126" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(237,99,98); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                            <path d="M 45.241 63.847 L 33.046 90 l -9.909 -9.079 L 9.812 79.166 l 11.865 -25.445 C 33.52 52.826 41.539 56.026 45.241 63.847 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(233,84,84); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                            <path d="M 45 63.847 c 17.631 0 31.923 -14.293 31.923 -31.923 S 62.631 0 45 0 C 34.483 21.782 33.645 43.104 45 63.847 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,204,91); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                            <path d="M 45 63.847 c -17.631 0 -31.923 -14.293 -31.923 -31.923 S 27.369 0 45 0 v 63.814" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(253,188,75); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                            <path d="M 38.778 54.411 c -0.092 0 -0.186 -0.013 -0.279 -0.039 C 26.122 50.786 18.967 37.8 22.552 25.422 c 0.153 -0.531 0.707 -0.836 1.239 -0.682 c 0.53 0.153 0.836 0.708 0.682 1.239 c -3.277 11.318 3.264 23.193 14.583 26.471 c 0.53 0.154 0.836 0.709 0.682 1.239 C 39.611 54.127 39.211 54.411 38.778 54.411 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(236,153,34); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                            <path d="M 66.487 39.146 c -0.092 0 -0.186 -0.013 -0.278 -0.04 c -0.53 -0.154 -0.836 -0.708 -0.683 -1.239 c 1.589 -5.483 0.946 -11.256 -1.808 -16.256 c -2.755 -5 -7.291 -8.628 -12.774 -10.216 c -0.53 -0.153 -0.836 -0.708 -0.683 -1.239 c 0.154 -0.53 0.708 -0.835 1.239 -0.682 c 5.996 1.736 10.957 5.704 13.969 11.172 c 3.013 5.468 3.715 11.781 1.979 17.777 C 67.321 38.862 66.922 39.146 66.487 39.146 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(236,153,34); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                            <path d="M 53.093 44.529 c -0.159 0 -0.319 -0.038 -0.465 -0.115 L 45 40.405 l -7.627 4.01 c -0.337 0.177 -0.744 0.147 -1.053 -0.076 c -0.308 -0.224 -0.462 -0.603 -0.398 -0.978 l 1.457 -8.493 l -6.17 -6.015 c -0.272 -0.266 -0.371 -0.664 -0.253 -1.025 s 0.431 -0.626 0.808 -0.681 l 8.527 -1.239 l 3.813 -7.727 c 0.168 -0.341 0.516 -0.558 0.897 -0.558 l 0 0 c 0.381 0 0.729 0.216 0.897 0.558 l 3.813 7.727 l 8.527 1.239 c 0.377 0.055 0.689 0.319 0.808 0.681 c 0.117 0.362 0.02 0.759 -0.253 1.025 l -6.171 6.015 l 1.457 8.493 c 0.064 0.375 -0.09 0.754 -0.397 0.978 C 53.507 44.465 53.3 44.529 53.093 44.529 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(236,153,34); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        </g>
                        </g>
                    </svg>
                    <div class="assdetail">
                        Validate the certificate using code <span class="person">{{ vcode }}</span>, github repository of student work <a href="{{ repo }}">{{ repo }}</a>
                    </div>
    
                </div>
            </div>
        </div>
    
    {% endif %}
    


{% endblock %}
{% block aditionaljs %} 
    <script>
        function showcerti(h,s){
            document.getElementById(h).style.display='none';
            document.getElementById(s).style.display='block';
        }

        function downloadcerti() {
            html2canvas(document.getElementById("bodydiv"),		{
                allowTaint: true,
                useCORS: true
            }).then(function (canvas) {
                var anchorTag = document.createElement("a");
                document.body.appendChild(anchorTag);
                anchorTag.download = "certificate";
                anchorTag.href = canvas.toDataURL();
                anchorTag.target = '_blank';
                anchorTag.click();
            });
    }
    </script>
{% endblock %}